/**
 * You can customize the DARK MODE look here.
 * Practically and mostly the colors need to be adjusted according to your darkness wishes.
 * To alter a definition, just copy the section over from main stylesheet
 * add [data-theme="dark"] before the definition and do your changes
 * Below are some examples to begin with and to explain the logic a little bit more
 */

/* General Settings */
[data-theme="dark"] {
  color: rgb(207, 200, 191) !important;
  background-color: black !important;
  background-image: url("/disposable/theme_bg_dark.jpg");
}

/* Clock */
[data-theme="dark"] #clock { color: rgb(24, 167, 170) !important; }

/* SideBar text */
[data-theme="dark"] #Dispo_SideBar { color: rgb(71, 62, 19); font-weight: 400; }
[data-theme="dark"] #Dispo_SideBar a { color: rgb(71, 62, 19); font-weight: 400; }

/* Generic Link */
[data-theme="dark"] a { color: rgb(170, 142, 16) !; font-weight: 400; }

/* Cards */
[data-theme="dark"] .card { background-color: rgba(126, 101, 82, 0.65); }
[data-theme="dark"] .card-title { color: rgb(24, 168, 170); }
[data-theme="dark"] .card-footer { font-weight: 400 !important; background-color: rgba(43, 39, 36, 0.75); }

[data-theme="dark"] .table { font-weight: 400 !important; color:rgb(206, 138, 116);}

/* Generic Backgrounds, inverted */
[data-theme="dark"] .bg-light { background-color: #333 !important; }
[data-theme="dark"] .bg-white { background-color: #000 !important; }
[data-theme="dark"] .bg-black { background-color: #eee !important; }

/* phpVMS Core Maps, inverted */
[data-theme="dark"] #map { filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);}
[data-theme="dark"] #live_flights_table { color: rgb(211, 203, 194) !important; }

/* Select2 Dropdown fixes */
[data-theme="dark"] .select2-search input { color: black !important; }
[data-theme="dark"] .select2-results { color: black !important; }