/**
 * You can customize the template's look here, no need to edit default Bootstrap codes
 * or edit every page 'cause all the pages of this template follows a standard coding
 * which makes life and custom styling much easier for all.
 */

/* General Settings */
body {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Lato";
  color: black;
  background-color: rgb(110, 100, 100);
  background-image: url("/disposable/theme_bg_B738.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Generic Link Style */
a {
  text-decoration: none;
  color: indigo;
  font-weight: 600;
}
a:hover {
  text-decoration: none;
  color: darkred;
  font-weight: 600;
}
a:active {
  text-decoration: none;
  color: indigo;
  font-weight: 600;
}

/* Card Style */
.card {
  background-color: rgba(206, 200, 194, 0.65);
  border-color: black;
  box-shadow: 0px 2px 3px black;
}
.card .card-header {
  background-color: rgba(31, 13, 192, 0.9);
}
.card .card-footer {
  background-color: rgba(223, 213, 203, 0.5);
}
.card .card-header h5 {
  font-size: 1rem;
  font-weight: 500;
  color: aliceblue;
}
.card .card-header a {
  text-decoration: none;
  color: lightgoldenrodyellow;
  font-weight: 500;
}
.card .card-header a:hover {
  text-decoration: none;
  color: goldenrod;
  font-weight: 500;
}
.card .card-header a:active {
  text-decoration: none;
  color: lightgoldenrodyellow;
  font-weight: 500;
}

/* Modal Style */
.modal .modal-header {
  background-color: rgba(31, 13, 192, 0.9);
  color: lightgoldenrodyellow;
}

.modal .modal-body {
  background-color: lightgray;
}

.modal .modal-footer {
  color: lightgoldenrodyellow;
  font-weight: 400;
  background-color: rgba(31, 13, 192, 0.9);
}

/* Accordion Style */
.accordion .accordion-button {
  box-shadow: none;
  color: goldenrod !important;
  background-color: rgba(31, 13, 192, 0.9) !important;
}
.accordion .collapsed {
  background-color: rgba(31, 13, 192, 0.6) !important;
  color: lightgoldenrodyellow !important;
}
.accordion .accordion-item {
  background-color: transparent !important;
}
.accordion .accordion-body {
  background-color: transparent !important;
}

/* NavBar Style */
#Dispo_NavBar {
  background-color: rgba(31, 13, 192, 0.8);
  box-shadow: 0px 2px 4px black;
  margin-bottom: 10px;
}
#Dispo_NavBar a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}
#Dispo_NavBar a:hover {
  text-decoration: none;
  color: goldenrod;
  font-weight: 500;
}
#Dispo_NavBar a:active {
  text-decoration: none;
  color: lightgoldenrodyellow;
  font-weight: 500;
}

#Dispo_NavBar .dropdown-menu {
    background-color: rgba(31, 13, 192, 0.9);
}

#Dispo_NavBar .dropdown-menu a:hover {
    background-color: transparent;
    color: goldenrod;
}

#Dispo_NavBar .dropdown-item {
    font-size: 0.875rem;
}

/* SideBar Style */
#Dispo_SideBar .offcanvas {
  background-color: rgba(211, 211, 211, 0.85);
  min-width: 250px;
  width: auto;
  height: 96vh;
}
#Dispo_SideBar .offcanvas .dropdown-menu {
  background-color: transparent;
}

#Dispo_SideBar .dropdown-menu a:hover {
    background-color: transparent;
    color: darkblue;
}

#Dispo_SideBar .dropdown-item {
  font-size: 0.875rem;
}

/* Navigation Pills Style */
.nav-pills .nav-link {
  color: wheat;
  background-color: rgba(31, 13, 192, 0.6) !important;
}
.nav-pills .active {
  color: darkgoldenrod;
  background-color: rgba(31, 13, 192, 0.9) !important;
}

/* Navigation Tabs Style (when used in a card) */
.card .nav-tabs .nav-item .nav-link {
  background-color: transparent;
  color: wheat;
}

.card .nav-tabs .nav-item .active {
  background-color: transparent;
  color: darkgoldenrod;
}

/* Navigation Tabs Style (when used in a card's body) */
.card .card-body .nav-tabs .nav-item .nav-link {
    background-color: transparent;
    color: indigo;
}
  
.card .card-body .nav-tabs .nav-item .active {
    background-color: transparent;
    color: darkred;
}

/* Clock Style */
#clock {
  font-size: 0.825rem;
  font-weight: 600;
}

/* Footer Style */
#footer {
  font-size: 0.825rem;
}
#footer .card {
  background-color: rgba(211, 211, 211, 0.5);
}
#footer .card a {
  text-decoration: none;
  color: darkblue;
  font-weight: 600;
}
#footer .card a:hover {
  text-decoration: none;
  color: darkslateblue;
  font-weight: 600;
}
#footer .card a:active {
  text-decoration: none;
  color: darkblue;
  font-weight: 600;
}

/* Pagination Style */
.pag-items {
  background-color: rgba(223, 214, 214, 0.5) !important;
  border-radius: 5px;
  color: indigo !important;
  border-color: black !important;
}
.pag-items-curr {
  background-color: rgba(6, 126, 193, 0.6) !important;
  border-radius: 5px;
  color: wheat !important;
  border-color: darkred !important;
}

/* Overflow-Auto Content Default Max Height */
.overflow-auto {
  max-height: 30vh;
}

/* Definitions below this line should not be altered with */
/* Only change them if you really need something that special */

/* Select2 Specific Fixes */
.select2-container {
  margin-top: 2px;
}

.input-group .select2-container {
  margin: 0px;
  width: auto;
  flex: 1 1 auto;
}

.input-group .select2-container .select2-selection--single {
  height: 100%;
  line-height: inherit;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* phpVMS LiveMap */
.map-info-box {
  position: absolute;
  bottom: 0;
  padding: 20px;
  height: 100px;
  z-index: 9999;
  background-color: rgba(232, 232, 232, 0.9);
}

.map-info-label {
  display: block;
  padding: 5px;
  background-color: rgba(232, 232, 232, 0.9);
}

/* Hover an image */
.HoverImage { position:relative; }
.HoverImage a { position:absolute; bottom:0; left:2; z-index:1978; }
.HoverImage img { display:none; }
.HoverImage:hover img { display:block; opacity:0.99; z-index:1978;}

/* Image Switcher and Base Fade Effect */
#stage a {
  position: relative;
}

#stage a img {
  border: none;
  background: transparent;
}

#stage a:nth-of-type(1) {
  animation-name: fader;
  animation-duration: 10s;
  z-index: 2100;
}

#stage a:nth-of-type(2) {
  z-index: 2200;
  display: none;
}

@keyframes fader {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

/* Card Body Icon Rotate */
.card-body .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}

.card-body .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -10px;
  bottom: 0;
  display: block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Fixed Height Images */
.img-h20 { width: auto; height: 20px; }
.img-h25 { width: auto; height: 25px; }
.img-h30 { width: auto; height: 30px; }
.img-h35 { width: auto; height: 35px; }
.img-h40 { width: auto; height: 40px; }
.img-h45 { width: auto; height: 45px; }
.img-h50 { width: auto; height: 50px; }
.img-h60 { width: auto; height: 60px; }
.img-h70 { width: auto; height: 70px; }
.img-h80 { width: auto; height: 80px; }
.img-h90 { width: auto; height: 90px; }
.img-h100 { width: auto; height: 100px; }
.img-h125 { width: auto; height: 125px; }
.img-h150 { width: auto; height: 150px; }
.img-h175 { width: auto; height: 175px; }
.img-h200 { width: auto; height: 200px; }

/* Max Height Images */
.img-mh20 { width: auto; max-height: 20px; }
.img-mh25 { width: auto; max-height: 25px; }
.img-mh30 { width: auto; max-height: 30px; }
.img-mh35 { width: auto; max-height: 35px; }
.img-mh40 { width: auto; max-height: 40px; }
.img-mh45 { width: auto; max-height: 45px; }
.img-mh50 { width: auto; max-height: 50px; }
.img-mh60 { width: auto; max-height: 60px; }
.img-mh70 { width: auto; max-height: 70px; }
.img-mh80 { width: auto; max-height: 80px; }
.img-mh90 { width: auto; max-height: 90px; }
.img-mh100 { width: auto; max-height: 100px; }
.img-mh125 { width: auto; max-height: 125px; }
.img-mh150 { width: auto; max-height: 150px; }
.img-mh175 { width: auto; max-height: 175px; }
.img-mh200 { width: auto; max-height: 200px; }

/* This needs to be defined for full screen image bg to work */
html {
  height: 100%;
  margin: 0;
}

/* Fixed Footer */
#page-container {
  position: relative;
  min-height: 100vh;
}
#page-contents {
  width: 98% !important;
  padding-bottom: 2rem; /* = Footer Height */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem; /* Footer Height */
}

/* Mobile Device Compatability */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}